{% load static %}
<div class="footer-container fixed-bottom">
    <footer class="short-2" style="background-color: #880e4f">
        <div class="container p-2">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div id="bottom-nav-icons" class="display-4">
                        <a id="bottom-nav-" href="/"><i class="fas fa-home me-4"></i></a>
                        <a id="bottom-nav-search" href="/search"><i class="fas fa-search mx-4"></i></a>
                        <a id="bottom-nav-profile" href="/profile/{{request.user.id}}"><i class="fas fa-user mx-4"></i></a>
                        <a id="bottom-nav-inbox" href="/inbox"><i class="fas fa-envelope mx-4"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>