{% load static %}
<div class="footer-container fixed-bottom">
    <footer class="short-2" style="background-color: #880e4f">
        <div class="container p-2">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="display-4 text-white">
                        <a href="/"><i class="fas fa-home mx-4"></i></a>
                        <a href="/search"><i class="fas fa-search mx-4"></i></a>
                        <a href="/profile"><i class="fas fa-user mx-4"></i></a>
                        <a href="/inbox"><i class="fas fa-envelope mx-4"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>