{% block navcontent %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
<!--        <button-->
<!--                class="navbar-toggler"-->
<!--                type="button"-->
<!--                data-mdb-toggle="collapse"-->
<!--                data-mdb-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent"-->
<!--                aria-expanded="false"-->
<!--                aria-label="Toggle navigation"-->
<!--        >-->
<!--            <i class="fas fa-bars"></i>-->
<!--        </button>-->

        <!-- Collapsible wrapper -->
        <div class="collaps navbar-collaps" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <i class="fas fa-transporter"></i>
                <i class="fas fa-film me-2"></i>
                CastMe
            </a>
            <!-- Left links -->
            <!--		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
            <!--			<li class="nav-item">-->
            <!--			  <a class="nav-link" href="#">Dashboard</a>-->
            <!--			</li>-->
            <!--			<li class="nav-item">-->
            <!--			  <a class="nav-link" href="#">Team</a>-->
            <!--			</li>-->
            <!--			<li class="nav-item">-->
            <!--			  <a class="nav-link" href="#">Projects</a>-->
            <!--			</li>-->
            <!--		  </ul>-->
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <!--		  <a class="text-reset me-3" href="#">-->
            <!--			<i class="fas fa-shopping-cart"></i>-->
            <!--		  </a>-->

            <!-- Notifications -->
            <!--		  <a-->
            <!--			class="text-reset me-3 dropdown-toggle hidden-arrow"-->
            <!--			href="#"-->
            <!--			id="navbarDropdownMenuLink"-->
            <!--			role="button"-->
            <!--			data-mdb-toggle="dropdown"-->
            <!--			aria-expanded="false"-->
            <!--		  >-->
            <!--			<i class="fas fa-bell"></i>-->
            <!--			<span class="badge rounded-pill badge-notification bg-danger">1</span>-->
            <!--		  </a>-->
            <!--		  <ul-->
            <!--			class="dropdown-menu dropdown-menu-end"-->
            <!--			aria-labelledby="navbarDropdownMenuLink"-->
            <!--		  >-->
            <!--			<li>-->
            <!--			  <a class="dropdown-item" href="#">Some news</a>-->
            <!--			</li>-->
            <!--		  </ul>-->

            <!-- Avatar -->
            <a
                    class="dropdown-toggle d-flex align-items-center hidden-arrow btn btn-floating"
                    href="#"
                    id="profileicon"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
            >
                <!-- <i class="fas fa-user"></i> -->
                <img id="dp-img" src="{{ dp_url }}"
                        alt="Generic placeholder image" class=""
                        style="height: -webkit-fill-available;border-radius: 50%;" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileicon">
                {% if user.id == 1 %}
                    <!-- <li><a class="dropdown-item" href="/sunday">Admin Page</a></li> -->
                {% endif %}
                <li><a class="dropdown-item" href="/settings/">Settings</a></li>
                <!-- <li><a class="dropdown-item" href="/accounts/social/connections/">Connections</a></li> -->
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="modal fade" id="crop-picture" tabindex="-1" aria-labelledby="crop-picture-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crop-picture-label">Crop the picture</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
            <figure id="crop-figure">
                <figcaption style="display: none;">
                    Loading images from File objects requires support for the
                    <a href="https://developer.mozilla.org/en-US/docs/Web/API/URL">URL</a>
                    or
                    <a href="https://developer.mozilla.org/en-US/docs/Web/API/FileReader"
                      >FileReader</a
                    >
                    API.
                  </figcaption>
            </figure>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          <button id="save-crop" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}