{% extends "account/base.html" %}
{% load static %}
{% block content %}
<section class="h-100 my-5">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-9">
                <div class="card card-form-2 mb-0 z-depth-0">
                    <div class="card-body">
                        Hello {{ request.user.get_full_name|title }}
                    </div>
                </div>
                <div class="card w-100 my-3">
                    <div class="form-outline form-black">
                        <textarea class="form-control" id="textAreaExample3" rows="4" maxlength="300"></textarea>
                        <label class="form-label" for="textAreaExample3">Create a Post</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}