{% extends "account/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/jquery.Jcrop.css' %}" />
<section class="h-100 my-5">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-9">
                <div class="card card-form-2 mb-0 z-depth-0">
                    <div class="card-body">
                        <h5 class="card-title">
                            <img id="dp-img-icon" src="{{ dp_url }}" alt="Profile Picture" class="dp-img" style="height: 44px;border-radius: 50%;" />
                            {{ firstname }} {{ lastname }}
                        </h5>
                        <p>{{ content }}</p>
                        <img src="{{ img }}" class="img-fluid" alt="" style="width:inherit; height: inherit;object-fit: cover;"></img>
                        {% if ytid|length %}
                            <iframe class="col" id="yt-prev" data-yt-id="{{ytid}}" src="https://www.youtube.com/embed/{{ytid}}" title="YouTube video player" frameborder="0" allow="" style="width: inherit;"></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static 'js/load-image.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.Jcrop.js' %}"></script>
{% endblock %}